.study {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    margin-top: 50px;
  }

  .btn-study {
    text-align: center;
    display: block;
    margin: auto;
    border-color: white;
    outline: none;
    font-size: 36px;
    width: 214px;
  height: 70px;
  background: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text-study h1 {
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  height:auto ;
  color: #000000;
  }

  .btn-study:active {
    border-style: outset;
  }

  @media only screen and (max-width: 800px ) {
    .btn-study {
      font-size: 20px;
      width: 106px;
      height: 46px;
    }
  
    .text-study h1 {
      margin-top: 100px;
      margin-left: 20px;
      margin-right: 20px;
    font-size: 20px;

    }
}
