
.berita {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.title-berita {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 500;
  line-height: 47px;
  color: #000000;
  }

  .img-berita {
    margin-top: 100px;
    text-align: center;
    display: block;
    width: 100%;

}

.img {
    width: 1200px;
height: 672px;
}

.info-berita{
    margin-left: -850px;
    font-family: 'Roboto Condensed';
font-style: italic;
font-weight: 300;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.container-berita {
    justify-content: center;
    display: block;
    background-color: aquamarine;
}


  .text-berita {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Lora', serif;
font-style: italic;
font-weight: 500;
font-size: 36px;
line-height: 42px;
color: #000000;
align-items: center;
text-align: justify;
  }

  @media only screen and (max-width: 800px ) {
    .title-berita {
        display: flex;
        height: 100px;
        font-size: 20px;
      font-weight: 500;
      line-height: 47px;
      }
      .img {
        width: 100%;
    height: 100%;
    }

    .info-berita{
        margin-left: 0px;
    font-weight: 300;
    font-size: 10px;
    }

      .text-berita {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
      }
}
  